In [1]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## Read data

In [2]:
# read and combine data
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
macro = pd.read_csv('./data/macro.csv')
data = pd.concat([train[train.columns[:-1]], test])
train_y = np.log(train['price_doc'].values + 1)

print(train.shape, test.shape, data.shape, macro.shape)

(30471, 292) (7662, 291) (38133, 291) (2484, 100)

In [3]:
data.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,1,2011-08-20,43.0,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,40,9,4,0,13,22,1,0,52,4
1,2,2011-08-23,34.0,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,36,15,3,0,15,29,1,10,66,14
2,3,2011-08-27,43.0,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,25,10,3,0,11,27,0,4,67,10
3,4,2011-09-01,89.0,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,15,11,2,1,4,4,0,0,26,3
4,5,2011-09-05,77.0,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,552,319,108,17,135,236,2,91,195,14

In [4]:
# find missing values and unique values
missing = data.isnull().sum(axis=0).reset_index()
missing.columns = ['feature', 'num']
missing['ratio'] = missing['num'] / len(data)
missing['dtype'] = data.dtypes.values

# calculate the number of unique values
unique_values = []
for i in data.columns:
    unique_values.append(len(data[i].unique()))
missing['unique'] = unique_values

missing

                                   feature    num     ratio    dtype  unique
0                                       id      0  0.000000    int64   38133
1                                timestamp      0  0.000000   object    1435
2                                  full_sq      0  0.000000  float64    1404
3                                  life_sq   7559  0.198227  float64     976
4                                    floor    167  0.004379  float64      43
5                                max_floor   9572  0.251016  float64      51
6                                 material   9572  0.251016  float64       7
7                               build_year  14654  0.384287  float64     128
8                                 num_room   9572  0.251016  float64      14
9                                 kitch_sq   9572  0.251016  float64     282
10                                   state  14253  0.373771  float64       6
11                            product_type     33  0.000865   object       3
12                                sub_area      0  0.000000   object     146
13                                  area_m      0  0.000000  float64     146
14                             raion_popul      0  0.000000    int64     146
15                         green_zone_part      0  0.000000  float64     146
16                             indust_part      0  0.000000  float64     132
17                      children_preschool      0  0.000000    int64     146
18                         preschool_quota   8284  0.217240  float64     122
19       preschool_education_centers_raion      0  0.000000    int64      13
20                         children_school      0  0.000000    int64     146
21                            school_quota   8280  0.217135  float64     126
22          school_education_centers_raion      0  0.000000    int64      14
23   school_education_centers_top_20_raion      0  0.000000    int64       3
24                     hospital_beds_raion  17859  0.468335  float64      80
25                healthcare_centers_raion      0  0.000000    int64       7
26                 university_top_20_raion      0  0.000000    int64       4
27                     sport_objects_raion      0  0.000000    int64      24
28              additional_education_raion      0  0.000000    int64      12
29                  culture_objects_top_25      0  0.000000   object       2
..                                     ...    ...       ...      ...     ...
261             cafe_count_3000_price_high      0  0.000000    int64      24
262                  big_church_count_3000      0  0.000000    int64     102
263                      church_count_3000      0  0.000000    int64     163
264                      mosque_count_3000      0  0.000000    int64       3
265                     leisure_count_3000      0  0.000000    int64      80
266                       sport_count_3000      0  0.000000    int64     101
267                      market_count_3000      0  0.000000    int64      11
268                        green_part_5000      0  0.000000  float64    3660
269                         prom_part_5000    270  0.007080  float64    2456
270                      office_count_5000      0  0.000000    int64     751
271                        office_sqm_5000      0  0.000000    int64    6763
272                         trc_count_5000      0  0.000000    int64     121
273                           trc_sqm_5000      0  0.000000    int64    5692
274                        cafe_count_5000      0  0.000000    int64    1704
275            cafe_sum_5000_min_price_avg    425  0.011145  float64    8062
276            cafe_sum_5000_max_price_avg    425  0.011145  float64    7030
277                    cafe_avg_price_5000    425  0.011145  float64    8753
278               cafe_count_5000_na_price      0  0.000000    int64     175
279              cafe_count_5000_price_500      0  0.000000    int64     621
280             cafe_count_5000_price_1000      0  0.000000    int64     627
281             cafe_count_5000_price_1500      0  0.000000    int64     610
282             cafe_count_5000_price_2500      0  0.000000    int64     376
283             cafe_count_5000_price_4000      0  0.000000    int64     148
284             cafe_count_5000_price_high      0  0.000000    int64      31
285                  big_church_count_5000      0  0.000000    int64     152
286                      church_count_5000      0  0.000000    int64     251
287                      mosque_count_5000      0  0.000000    int64       3
288                     leisure_count_5000      0  0.000000    int64     107
289                       sport_count_5000      0  0.000000    int64     217
290                      market_count_5000      0  0.000000    int64      22

[291 rows x 5 columns]

In [5]:
# drop the column that has too many missing values
drops = missing[missing['ratio'] > 0.05]['feature'].values
data = data.drop(drops, axis=1)
data.head()

,id,timestamp,full_sq,floor,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,1,2011-08-20,43.0,4.0,Investment,Bibirevo,6.407578e+06,155572,0.189727,0.000070,...,40,9,4,0,13,22,1,0,52,4
1,2,2011-08-23,34.0,3.0,Investment,Nagatinskij Zaton,9.589337e+06,115352,0.372602,0.049637,...,36,15,3,0,15,29,1,10,66,14
2,3,2011-08-27,43.0,2.0,Investment,Tekstil'shhiki,4.808270e+06,101708,0.112560,0.118537,...,25,10,3,0,11,27,0,4,67,10
3,4,2011-09-01,89.0,9.0,Investment,Mitino,1.258354e+07,178473,0.194703,0.069753,...,15,11,2,1,4,4,0,0,26,3
4,5,2011-09-05,77.0,4.0,Investment,Basmannoe,8.398461e+06,108171,0.015234,0.037316,...,552,319,108,17,135,236,2,91,195,14

In [7]:
data.isnull().sum().reset_index()

                                     index    0
0                                       id    0
1                                timestamp    0
2                                  full_sq    0
3                                    floor  167
4                             product_type   33
5                                 sub_area    0
6                                   area_m    0
7                              raion_popul    0
8                          green_zone_part    0
9                              indust_part    0
10                      children_preschool    0
11       preschool_education_centers_raion    0
12                         children_school    0
13          school_education_centers_raion    0
14   school_education_centers_top_20_raion    0
15                healthcare_centers_raion    0
16                 university_top_20_raion    0
17                     sport_objects_raion    0
18              additional_education_raion    0
19                  culture_objects_top_25    0
20            culture_objects_top_25_raion    0
21                  shopping_centers_raion    0
22                            office_raion    0
23               thermal_power_plant_raion    0
24                      incineration_raion    0
25                     oil_chemistry_raion    0
26                         radiation_raion    0
27                 railroad_terminal_raion    0
28                        big_market_raion    0
29                   nuclear_reactor_raion    0
..                                     ...  ...
223             cafe_count_3000_price_high    0
224                  big_church_count_3000    0
225                      church_count_3000    0
226                      mosque_count_3000    0
227                     leisure_count_3000    0
228                       sport_count_3000    0
229                      market_count_3000    0
230                        green_part_5000    0
231                         prom_part_5000  270
232                      office_count_5000    0
233                        office_sqm_5000    0
234                         trc_count_5000    0
235                           trc_sqm_5000    0
236                        cafe_count_5000    0
237            cafe_sum_5000_min_price_avg  425
238            cafe_sum_5000_max_price_avg  425
239                    cafe_avg_price_5000  425
240               cafe_count_5000_na_price    0
241              cafe_count_5000_price_500    0
242             cafe_count_5000_price_1000    0
243             cafe_count_5000_price_1500    0
244             cafe_count_5000_price_2500    0
245             cafe_count_5000_price_4000    0
246             cafe_count_5000_price_high    0
247                  big_church_count_5000    0
248                      church_count_5000    0
249                      mosque_count_5000    0
250                     leisure_count_5000    0
251                       sport_count_5000    0
252                      market_count_5000    0

[253 rows x 2 columns]