In [1]:
import pandas as pd
import json

# business.json

In [2]:
# features to keep
features = ['business_id', 'name', 'address', 'latitude', 'longitude', 
            'review_count', 'stars', 'categories']
data = {}
for name in features:
    data[name] = []

with open('./data/dataset/business.json', 'r') as f:
    for line in f:
        tmp = json.loads(line)
        for name in features:
            data[name].append(tmp[name])

In [3]:
# transform into csv file and save to disk
business = pd.DataFrame(data, columns=features)
business.to_csv('./data/business.csv', index=False)

# review.json

In [4]:
# features to keep
features = ['review_id', 'user_id', 'business_id', 'stars', 
            'date', 'text', 'useful', 'funny', 'cool']

data = {}
for name in features:
    data[name] = []

with open('./data/dataset/review.json', 'r') as f:
    for line in f:
        tmp = json.loads(line)
        for name in features:
            data[name].append(tmp[name])

In [5]:
# transform into csv file and save to disk
review = pd.DataFrame(data, columns=features)
review.to_csv('./data/review.csv', index=False)

# user.json

In [6]:
# features to keep
features = ['user_id', 'name', 'review_count', 'yelping_since', 
            'useful', 'funny', 'cool', 'fans', 'average_stars', 
            'compliment_hot', 'compliment_more', 'compliment_profile', 
            'compliment_cute', 'compliment_list', 'compliment_note', 
            'compliment_plain', 'compliment_cool', 'compliment_funny', 
            'compliment_writer', 'compliment_photos']

data = {}
for name in features:
    data[name] = []

with open('./data/dataset/user.json', 'r') as f:
    for line in f:
        tmp = json.loads(line)
        for name in features:
            data[name].append(tmp[name])

In [7]:
# transform into csv file and save to disk
user = pd.DataFrame(data, columns=features)
user.to_csv('./data/user.csv', index=False)

# checkin.json

# tip.json

In [8]:
# features to keep
features = ['text', 'date', 'likes', 'business_id', 'user_id']

data = {}
for name in features:
    data[name] = []

with open('./data/dataset/tip.json', 'r') as f:
    for line in f:
        tmp = json.loads(line)
        for name in features:
            data[name].append(tmp[name])

In [9]:
# transform into csv file and save to disk
tip = pd.DataFrame(data, columns=features)
tip.to_csv('./data/tip.csv', index=False)

# photos.json

In [10]:
# features to keep
features = ['photo_id', 'business_id', 'caption', 'label']

data = {}
for name in features:
    data[name] = []

with open('./data/dataset/photos.json', 'r') as f:
    for line in f:
        tmp = json.loads(line)
        for name in features:
            data[name].append(tmp[name])

In [11]:
# transform into csv file and save to disk
photos = pd.DataFrame(data, columns=features)
photos.to_csv('./data/photos.csv', index=False)

# Overview

In [12]:
business.head()

,business_id,name,address,latitude,longitude,review_count,stars,categories
0,YDf95gJZaq05wvo7hTQbbQ,Richmond Town Square,691 Richmond Rd,41.541716,-81.493116,17,2.0,"[Shopping, Shopping Centers]"
1,mLwM-h2YhXl2NCgdS84_Bw,South Florida Style Chicken & Ribs,2824 Milton Rd,35.236870,-80.741976,4,4.5,"[Food, Soul Food, Convenience Stores, Restaura..."
2,v2WhjAB3PIBA8J8VxG3wEg,The Tea Emporium,337 Danforth Avenue,43.677126,-79.353285,7,4.5,"[Food, Coffee & Tea]"
3,CVtCbSB1zUcUWg-9TNGTuQ,TRUmatch,"7702 E Doubletree Ranch Rd, Ste 300",33.565082,-111.916400,3,3.0,"[Professional Services, Matchmakers]"
4,duHFBe87uNSXImQmvBh87Q,Blimpie,4719 N 20Th St,33.505928,-112.038847,10,4.5,"[Sandwiches, Restaurants]"

In [13]:
business.shape

(156639, 8)

In [14]:
review.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,VfBHSwC5Vz_pbFluy07i9Q,cjpdDjZyprfyDG3RlkVG3w,uYHaNptLzDLoV_JZ_MuzUA,5,2016-07-12,My girlfriend and I stayed here for 3 nights a...,0,0,0
1,3zRpneRKDsOPq92tq7ybAA,bjTcT8Ty4cJZhEOEo01FGA,uYHaNptLzDLoV_JZ_MuzUA,3,2016-10-02,If you need an inexpensive place to stay for a...,0,0,0
2,ne5WhI1jUFOcRn-b-gAzHA,AXgRULmWcME7J6Ix3I--ww,uYHaNptLzDLoV_JZ_MuzUA,3,2015-09-17,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,0,0
3,llmdwOgDReucVoWEry61Lw,oU2SSOmsp_A8JYI7Z2JJ5w,uYHaNptLzDLoV_JZ_MuzUA,4,2016-08-21,Location is everything and this hotel has it! ...,0,0,0
4,DuffS87NaSMDmIfluvT83g,0xtbPEna2Kei11vsU-U2Mw,uYHaNptLzDLoV_JZ_MuzUA,5,2013-11-20,gute lage im stadtzentrum. shoppingmeile und s...,0,0,0

In [15]:
review.shape

(4736897, 9)

In [16]:
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,lsSiIjAKVl-QRxKjRErBeg,Cin,272,2010-07-13,17019,16605,16856,209,3.80,5175,299,569,284,78,1435,7397,5174,5174,1834,7829
1,om5ZiponkpRqUNa3pVPiRg,Andrea,2559,2006-01-18,83681,10882,40110,835,3.94,1285,134,74,211,101,1295,2134,1556,1556,402,162
2,-lGwMGHMC_XihFJNKCJNRg,Gabe,277,2014-10-31,45,4,55,17,4.72,5,1,0,1,0,11,20,15,15,1,8
3,D-ydMTPGWXTVm4_jjp0k9g,Leah,436,2013-04-01,15,4,4,11,3.76,1,1,0,0,0,4,11,9,9,3,1
4,PcvbBOCOcs6_suRDH7TSTg,Juan,921,2012-08-16,9152,360,6006,49,4.23,59,8,3,0,0,51,386,276,276,29,169

In [17]:
user.shape

(1183362, 20)

In [18]:
tip.head()

,text,date,likes,business_id,user_id
0,Get here early enough to have dinner.,2012-07-15,0,tJRDll5yqpZwehenzE2cSg,zcTZk7OG8ovAmh_fenH21g
1,Great breakfast large portions and friendly wa...,2015-08-12,0,jH19V2I9fIslnNhDzPmdkA,ZcLKXikTHYOnYt5VYRO5sg
2,Nice place. Great staff. A fixture in the tow...,2014-06-20,0,dAa0hB2yrnHzVmsCkN4YvQ,oaYhjqBbh18ZhU0bpyzSuw
3,Happy hour 5-7 Monday - Friday,2016-10-12,0,dAa0hB2yrnHzVmsCkN4YvQ,ulQ8Nyj7jCUR8M83SUMoRQ
4,"Parking is a premium, keep circling, you will ...",2017-01-28,0,ESzO3Av0b1_TzKOiqzbQYQ,ulQ8Nyj7jCUR8M83SUMoRQ

In [19]:
tip.shape

(1028802, 5)

In [20]:
photos.head()

,photo_id,business_id,caption,label
0,VZXDC7VBdIXXjE3omVqeMg,JzB7NITHQ7gVHGVZ1ntgIQ,Black Angus Steak Sandwich... Huge!!!,food
1,c6Em6dDZ4aVKDI8Lc2BQog,JzB7NITHQ7gVHGVZ1ntgIQ,,outside
2,VAoFn_z9QF0qVmT5vTdwWA,JzB7NITHQ7gVHGVZ1ntgIQ,,food
3,ToCK6BSwnST8nIzSuskW3g,JzB7NITHQ7gVHGVZ1ntgIQ,,food
4,XFsXCbK5q3ks0n7B8grI8A,JzB7NITHQ7gVHGVZ1ntgIQ,,food

In [21]:
photos.shape

(196278, 4)